body
{
    background-color: #E4F9F5;
    background-color: #001920;
    background-color: #0198b7;

    background-color: #210F37;
    background-color: #4F1C51;
    background-color: #A55B4B;
    background-color: #DCA06D;

    background-color: #2A004E;
    background-color: #500073;
    background-color: #C62300;
    background-color: #F14A00;

    background-color: #69247C;
    background-color: #DA498D;

    background-color: #604652;
    background-color: #735557;
    background-color: #97866A;
    background-color: #D29F80;

    background-color: #5D8736;
    background-color: #809D3C;
    background-color: #A9C46C;
    background-color: #F4FFC3;

}
/*Photo by <a href="https://unsplash.com/@jmagpie?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">J M</a> on <a href="https://unsplash.com/photos/mountains-during-golden-hour-4igCpD-Lnfg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@matteocatanese?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Matteo Catanese</a> on <a href="https://unsplash.com/photos/kirkjufell-iceland-4KrQq8Z6Y5c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
<a target="_blank" href="https://icons8.com/icon/32323/instagram">Instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/118468/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>   
<a target="_blank" href="https://icons8.com/icon/118497/facebook">Facebook Logo</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/12598/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/63777/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by Freepik - Flaticon</a>
Photo by <a href="https://unsplash.com/@jerroams?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jeremy Allouche</a> on <a href="https://unsplash.com/photos/black-whiskered-single-cutaway-electric-guitar-YStboKiFPVw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@philcat?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sam Tsonis</a> on <a href="https://unsplash.com/photos/a-blurry-picture-of-a-mountain-with-a-sky-in-the-background-dVq-eUBZkA0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@kouchpeydeh?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Khashayar Kouchpeydeh</a> on <a href="https://unsplash.com/photos/brown-and-black-mountain-under-white-clouds-tvKwBlrhSAA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@anastasia_clark?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Anastasia Clark</a> on <a href="https://unsplash.com/photos/a-view-of-a-mountain-range-from-a-plane-XNDro-F6mzo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
